@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    width: 1263px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #002D2D;
    align-items: center;
    padding: 0px 35px;
}

.logo>img {
    height: 80px;
}

.navbar ul {
    display: flex;
    gap: 45px;
    list-style: none;
}

li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

/* .slider {
    width: 1280px;
} */

.slider>img {
    width: 100%;
}

.car-collections {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.collection {
    text-align: center;
    padding-top: 80px;
}

.collection h5 {
    font-size: 18px;
    font-weight: 400;
    border-bottom: none !important;

}

.collection h3 {
    color: #DD9933;
    font-size: 50px;
    padding-bottom: 60px;
    border-bottom: none !important;
}

.car-collect {
    width: 280px;
    height: 280px;
    text-align: center;
    font-size: 28px;
}

.car-collect h4 {
    font-size: 18px;
    color: #002D2D;
    border-bottom: none !important;
}

.car-collect>img {
    width: 100%;
    height: 170px;
    transition: 0.6s ease-in-out;
    padding-bottom: 10px;
}

.dots>img {
    height: 60px;
    margin-top: -75px;
}

.search {
    height: 280px;
    background-image: url("images/fuel-speedometer-car.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventory {
    width: 80%;
    background-color: #fff;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

.inventory select {
    height: 35px;
    width: 175px;
    padding: 5px 10px;
    outline: none;
    color: #002D2D;
    border: 2px solid #002D2D;
}

.inventory button {
    width: 140px;
    height: 35px;
    background-color: #DD9933;
    color: #fff;
    font-size: 14px;
    border: 2px solid #DD9933;
    cursor: pointer;
    font-weight: 600;
}

.inventory button:hover {
    width: 140px;
    height: 35px;
    background-color: #fff;
    color: #DD9933;
    font-size: 14px;
    border: 1px solid #DD9933;
}

.about {
    text-align: center;
    padding: 80px 0px;
    width: 900px;
    margin: 0 auto;
}

.about h3 {
    font-size: 32px;
    color: #DD9933;
    padding-bottom: 35px;
}

.about p {
    color: #002D2D;
    font-weight: 400;
    word-spacing: 5px;
}

.social-main {
    font-size: 14px;
    color: #002D2D;
    font-weight: 300;
    text-align: center;
}

.inventorys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    /* width: 100%; */
    gap: 15px;
}

.row {
    width: 250px;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 5px 7px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 7px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 7px 18px 0px rgba(0, 0, 0, 0.75);
}

.row2 {
    width: 600px;
    background-color: #002D2D;
    padding: 25px;
}

.col2 {
    font-size: 22px !important;
    background-color: #fff;
    padding-bottom: 30px;
    border-radius: 5px;
}

.col h3 {
    font-size: 24px;
}

.row:hover {
    /* background-color: azure; */
    /* transform: scale(1.1);
    transition: 0.6s ease-in-out; */
    box-shadow: 6px 8px 20px 3px rgba(0, 0, 0, 0.75);
}

.col {
    font-size: 16px;
    font-weight: 200 !important;
    text-align: center;
    color: #DD9933;
}

.col h3,
h4,
h5 {
    border-bottom: 1px solid lightgray;
    padding: 2px;
    font-weight: 500;
}

.heading {
    font-size: 18px;
    color: #002D2D !important;
    border-bottom: 1px solid #002D2D;
}


.swal2-confirm {
    background-color: #002D2D !important;
    width: 300px !important;
    border: none !important;
}

.swal2-confirm:focus {
    box-shadow: none !important;
}

.row img {
    object-fit: contain;
    width: 100%;
    height: 200px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    border-bottom: none !important;
}

.social-main h4 {
    border-bottom: none !important;
}

.social>img {
    height: 35px;
}

.footer {
    display: flex;
    padding-top: 80px;
    justify-content: space-around;
    background-color: #0D0405;
    color: #fff;
    margin-top: 55px;
    padding-bottom: 30px;
    text-transform: capitalize;
}

.footer input {
    outline: none;
    width: 220px;
    height: 30px;
}

.footer ul {
    list-style: none;
}

.footer button {
    width: 120px;
    height: 30px;
    background-color: #DD9933;
    color: #fff;
    font-size: 14px;
    border: 1px solid #DD9933;
    cursor: pointer;
    font-weight: 600;
}




/* animation */

.grow:hover {
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}