* {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #002D2D;
    align-items: center;
    padding: 0px 35px;
}

.logo>img {
    height: 80px;
}

.navbar ul {
    display: flex;
    gap: 45px;
    list-style: none;
}

li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.slider {
    width: 1280px;
}

.slider>img {
    width: 100%;
}

.car-collections {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.collection {
    text-align: center;
    padding-top: 80px;
}

.collection h5 {
    font-size: 18px;
    font-weight: 400;

}

.collection h3 {
    color: #DD9933;
    font-size: 50px;
    padding-bottom: 60px;
}

.car-collect {
    width: 280px;
    height: 280px;
    text-align: center;
    font-size: 28px;
}

.car-collect h4 {
    font-size: 18px;
}

.car-collect>img {
    width: 100%;
    height: 170px;
    transition: 0.6s ease-in-out;
    padding-bottom: 10px;
}

.dots >img{
    height: 60px;
    margin-top: -75px;
}

.search{
    height: 280px;
    width: 1280px;
    background-image: url("images/fuel-speedometer-car.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inventory{
    width: 80%;
    background-color: #fff;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.inventory select{
    height: 35px;
    width: 155px;
    padding: 5px 10px;
}









/* animation */

.grow:hover {
    transform: scale(1.1);
    transition: 0.6s ease-in-out;
}